# URL del API Gateway generado por Terraform.
# Copia este archivo a .env.local y pega la URL real tras el "terraform apply".
NEXT_PUBLIC_API_ENDPOINT=https://XXXXXXXXXX.execute-api.us-east-1.amazonaws.com/prod/contact
